.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.form {
    padding: 50px 0;
    max-width: 500px;
    margin: 0 auto;
}

.input {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}

.errorMessage {
    color: red;
}

.checkbox {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

.button {
    width: 100%;
}
